@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* { 
 font-family: 'Noto Sans KR', sans-serif;
}

:root {
  font-family: 'Noto Sans KR', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
